@page
@model BookListRazor.Pages.BookList.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>


SC Conversion Marketing SRL
CUI: 18350386

<p>
<p>   Nr. Reg.Com .: J40 / 14068 / 18.10.2019 </p>


<p> Work program </p>

<p>
    Monday - Friday 09:00 - 18:00
</p>
 <p>   Advertiser Support: </p>
    0747 36 24 21 
<p>                   </p>
    Affiliate Support:
<p>                   </p>
    support@profitshare.ro
<p>                   </p>
    Address:
<p>                   </p>
    HQ Victoriei building, 4th floor

    Grigore Alexandrescu Street no. 59
</p>