@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h4> Return conditions</h4>
    Products purchased remotely can be returned according to O.G. 130/2000.
    The Romanian legislation stipulates: “The consumer has the right to notify in writing the trader that he renounces the purchase, without penalties and without invoking a reason within 10 working days of receiving the product. (Government Ordinance no. 130/2000)
</p>
<p>
    <h4>   Product warranty </h4>
  
    The products purchased through the site www.bookstore.ro benefit from the usual guarantee of each product. Thus, each product will be accompanied by the manufacturer's warranty certificate.

</p>
